<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>Fit2Go - @ViewBag.Title</title>
    <link rel="shortcut icon" href="~/favicon.ico" />
    @*<!-- global css -->
    @Styles.Render("~/Public/globalCss")
    <!-- Date picker -->
    @Styles.Render("~/Public/datePickerCss")
    <!-- end of global css -->
    <!-- page level css -->
    @Styles.Render("~/Public/pageLevelCss")
    <!-- end of page level css -->*@
    @RenderSection("Styles",false)
</head>

<body>
    <div class="se-pre-con"></div>
    <!-- header logo: style can be found in header-->
    <header class="header">
        <nav class="navbar navbar-static-top">
            <a href="@Url.Action("Index","Home")" class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                <img src="~/Public/img/logo.png" alt="image not found">
            </a>
            <!-- Header Navbar: style can be found in header-->
            <!-- Sidebar toggle button-->
            <!-- Sidebar toggle button-->
            <div>
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <i class="fa fa-fw fa-navicon"></i>
                </a>
            </div>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <!-- User Account: style can be found in dropdown-->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle padding-user" data-toggle="dropdown">
                            <img src="~/Public/img/authors/avatar1.jpg" width="35" class="img-circle img-responsive pull-left" height="35" alt="User Image">
                            <div class="riot">
                                <div>
                                    Natali
                                    <span>
                                        <i class="caret"></i>
                                    </span>
                                </div>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="~/Public/img/authors/avatar1.jpg" class="img-circle" alt="User Image">
                                <p>Nataliapery</p>
                            </li>
                            <!-- Menu Body -->
                            <li class="pad-3">
                                <a href="#">
                                    <i class="fa fa-fw fa-user"></i> My Profile
                                </a>
                            </li>
                            <li role="presentation"></li>
                            <li>
                                <a href="login.html">
                                    <i class="fa fa-fw fa-sign-out"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="left-side sidebar-offcanvas">
            <!-- sidebar: style can be found in sidebar-->
            <section class="sidebar">
                <div id="menu" role="navigation">
                    <div class="nav_profile">
                        <div class="media profile-left">
                            <a class="pull-left profile-thumb" href="#">
                                <img src="~/Public/img/authors/avatar1.jpg" class="img-circle" alt="User Image">
                            </a>
                            <div class="content-profile">
                                <h4 class="media-heading">Nataliapery</h4>
                                <span class="text-default">Admin</span>
                            </div>
                        </div>
                    </div>
                    <ul class="navigation">
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")" id="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
                            <a href="@Url.Action("Index","Home")">
                                <i class="text-primary menu-icon fa fa-fw fa-dashboard"></i>
                                <span class="mm-text ">Dashboard</span>
                                <span class="arrow"></span>
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "ClubInfo" ? "active" : "")" id="@(ViewContext.RouteData.Values["Controller"].ToString() == "ClubInfo" ? "active" : "")">
                            <a href="@Url.Action("Index","ClubInfo")">
                                <i class="text-success menu-icon fa fa-fw fa-info-circle"></i>
                                <span class="mm-text">Club Info</span>
                                <span class="arrow"></span>
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Packages" ? "active" : "")" id="@(ViewContext.RouteData.Values["Controller"].ToString() == "Packages" ? "active" : "")">
                            <a href="@Url.Action("Index","Packages")">
                                <i class="text-primary menu-icon fa fa-th fa-info-circle"></i>
                                <span class="mm-text">Packages</span>
                                <span class="arrow"></span>
                            </a>
                        </li>
                        <li class="menu-dropdown @(ViewContext.RouteData.Values["Controller"].ToString() == "Course" ? "active" : "")" id="@(ViewContext.RouteData.Values["Controller"].ToString() == "Course" ? "active" : "")">
                            <a href="#">
                                <i class="text-warning menu-icon fa fa-fw fa-graduation-cap"></i>
                                <span class="mm-text">Course Schedule</span>
                                <span class="fa fa-angle-down pull-right"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Course" ? (ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "") : "")" id="@(ViewContext.RouteData.Values["Controller"].ToString() == "Course" ? (ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "") : "")">
                                    <a href="@Url.Action("Index","Course")">
                                        <i class="text-primary fa fa-fw fa-th"></i> Course Schedule
                                        <span class="arrow"></span>
                                    </a>
                                </li>
                                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Schedule" ? "active" : "")" id="@(ViewContext.RouteData.Values["Action"].ToString() == "Schedule" ? "active" : "")">
                                    <a href="@Url.Action("Schedule","Course")">
                                        <i class="text-success fa fa-fw fa-indent"></i> Courses
                                        <span class="arrow"></span>
                                    </a>
                                </li>
                                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Rooms" ? "active" : "")" id="@(ViewContext.RouteData.Values["Action"].ToString() == "Rooms" ? "active" : "")">
                                    <a href="@Url.Action("Rooms","Course")">
                                        <i class="text-info fa fa-fw fa-star"></i> Rooms
                                        <span class="arrow"></span>
                                    </a>
                                </li>
                                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Trainers" ? "active" : "")" id="@(ViewContext.RouteData.Values["Action"].ToString() == "Trainers" ? "active" : "")">
                                    <a href="@Url.Action("Trainers","Course")">
                                        <i class="text-danger fa fa-fw fa-paw"></i> Trainers
                                        <span class="arrow"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-dropdown ">
                            <a href="#">
                                <i class="text-default menu-icon fa fa-fw fa-users"></i>
                                <span class="mm-text">Users</span>
                                <span class="fa fa-angle-down pull-right"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="">
                                    <a href="">
                                        <i class="text-primary fa fa-fw fa-users"></i> Users List
                                        <span class="arrow"></span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="">
                                        <i class="text-info fa fa-fw fa-user"></i> Add Users
                                        <span class="arrow"></span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="">
                                        <i class="text-danger fa fa-fw fa-money"></i> Payments
                                        <span class="arrow"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="">
                                <i class="text-info menu-icon fa fa-fw fa-clock-o"></i>
                                <span class="mm-text ">Class Calendar</span>
                                <span class="arrow"></span>
                            </a>
                        </li>
                    </ul>
                    <!-- / .navigation -->
                </div>
                <!-- menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        @RenderBody()
    </div>
    @RenderSection("Scripts",false)

    @*<!-- global js -->
        @Scripts.Render("~/Public/globalJs")
        <!-- end of global level js -->
        @Scripts.Render("~/Public/Part1Js")
        <!-- date picker -->
        @Scripts.Render("~/Public/datePickerJs")
        <!-- date picker end -->
        @Scripts.Render("~/Public/Part2Js")
        <!-- end of page level js -->*@
</body>


</html>
